.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, rgba(225, 255, 234, 0.13) 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 5vw;
    line-height: 1.1;
}

.hero-left-h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left-p {
    color: #171717;
    font-size: 100px;
    font-weight: 700;
    animation: fadeInUp 1s ease;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 105px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.hero-latest-btn:hover {
    background: #e63a3a;
    cursor: pointer;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Animation for text */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tablet view */
@media (max-width: 800px) {
    .hero-left {
        padding: 0 30px;
    }
    .hero-left-h2 {
        font-size: 16px;
    }
    .hero-left-p {
        font-size: 40px;
    }
    .hero-hand-icon img {
        width: 50px;
    }
    .hero-latest-btn {
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .hero-right img {
        width: 300px;
    }
}

/* Mobile view */
@media (max-width: 500px) {
    .hero {
        flex-direction: column;
        padding-top: 60px;
    }
    .hero-right {
        display: none;
    }
    .hero-left-h2 {
        font-size: 18px;
    }
    .hero-left-p {
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 55px;
    }
    .hero-latest-btn{
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}
