.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, rgba(225, 255, 234, 0.13) 60%);
    gap: 30px;
    border-radius: 20px;
}

.newsletter h1 {
    color: #454545;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}

.newsletter p {
    color: #454545;
    font-size: 20px;
    text-align: center;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
    overflow: hidden;
}

.newsletter input {
    flex: 1;
    padding: 0 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.newsletter div button {
    width: 210px;
    height: 70px;
    border: none;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.newsletter div button:hover {
    background: #333;
}
@media (max-width: 1024px) {
    .newsletter {
        width: 90%;
        padding: 20px;
        margin-bottom: 70px;
    }

    .newsletter h1 {
        font-size: 24px;
    }

    .newsletter p {
        font-size: 12px;
    }

    .newsletter div {
        width: 400px;
        height: 40px;
    }

    .newsletter  div input {
        font-size: 13px;
        width: 200px;
    }

    .newsletter div button {
        font-size: 14px;
        height: 40px;
        width: 120px;
    }
}
@media (max-width: 800px) {
    .newsletter {
        width: 90%;
        padding: 0 40px;
        height: auto;
        gap: 20px;
    }

    .newsletter h1 {
        font-size: 32px;
    }

    .newsletter p {
        font-size: 16px;
    }

    .newsletter div {
        flex-direction: column;
        width: 100%;
        height: auto;
        border-radius: 20px;
        gap: 10px;
        padding: 10px;
    }

    .newsletter div input {
        width: 100%;
        height: 45px;
        border-radius: 10px;
        text-align: center;
    }

    .newsletter div button {
        width: 100%;
        height: 45px;
        border-radius: 10px;
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .newsletter {
        width: 100%;
        padding: 0;
        margin-bottom: 70px;
        height: 25vh;
        gap: 15px;
    }

    .newsletter h1 {
        font-size: 16px;
    }

    .newsletter p {
        font-size: 13px;
        max-width: 200px;
        text-align: center;
    }

    .newsletter div {
        width: 290px;
    }

    .newsletter  div input {
        width: 130px;
    }
}
